<div class="home">
  <div class="home_image">
    <%= image_tag("foliage.jpg") %>
  </div>

  <div class="container">
    <span class="title"><h3>Accordion Using JQuery & Kwicks</h3></span>
      <ul id="accordion-slider">
        <li><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRWvrSUaEiICjV22iBZXDMbCFgkNonweRf5lZodoDN90r6eaXdQ" width="750" height="300" alt="Image Title"/></li>
        <li><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcSNLTnuk4LOiegeYp_xNKtgkvQ8nlKJqxTgI4BuVSkgeSlIjIsj7g" width="750" height="300" alt="Image Title"/></li>
        <li><img src="http://www.viewwallpaper.com/wp-content/uploads/2014/07/sunflower-field-widescreen.jpg" width="750" height="300" alt="Image Title"/></li>
      </ul>
  </div>
</div>