<div class="home">
  <div class='icon'><%= image_tag 'white_marker.png' %></div>
  <div class="bio">
    <h1>Thanks for visiting my site!  <br>
      I'm a Web Developer - <br>
      formerly a Peace Corps Volunteer and Chicago Public Schools Data Analyst. <br> 
      I love making apps that <br>
      improve people's lives.  <br>
      Check out my most recent project: <%= link_to "http://www.divvymaps.com" do %>DivvyMaps<% end %>.</h1>
  </div>

  <div class="welcome">
    <h1>Hello<br>World</h1>
  </div>
</div>