<div class="home">
  <div class="home_image">
  </div>

  <div class="container">
    <div class="skills">
      <div class="title"><h3>Skills</h3></div>

      <ul class="full_screen_skills">
        <li>Ruby</li>
        <li>JavaScript</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Rails</li>
        <li>Sinatra</li>
        <li>Test-Driven Development</li>
        <li>Agile Development</li>
        <li>Data Analysis</li>
        <li>Spanish</li>
      </ul>

       <ul class="back_end_skills">
        <li>Ruby</li>
        <li>SQL</li>
        <li>Rails</li>
        <li>Sinatra</li>
      </ul>
      <ul class="front_end_skills">
        <li>JavaScript</li>
        <li>AJAX</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
      <ul class="misc_skills">
        <li>TDD</li>
        <li>Agile</li>
        <li>Data Analysis</li>
        <li>Spanish</li>
      </ul>
    </div>
    <div class="experiences">
       <div class="title"><h3>Code</h3></div>
       <div class="position_title">Web Development Student, Dev Bootcamp</div>
       <div class="position_subtitle">Chicago, June 2014 – October 2014</div>
       <ul>
          <li>9-weeks of part-time off-site preparation to learn programming fundamentals</li>
          <li>9-weeks of full-time on-site training in development of full-stack applications through lecture, coding challenges, and group projects</li>
       </ul>

       <div class="position_title"><%= link_to "http://www.divvymaps.com" do %>DivvyMaps<% end %></div>
       <div class="position_subtitle">8-day Project, October 2014</div>
       <ul>
          <li>Created a responsive Rails application that provides Divvy bike riders with optimized routes to their destination via Divvy Stations.</li>
          <li>Integrated with Google Maps API’s and Divvy API</li>
          <li>Developed object-oriented code and complex algorithms to identify and re-route to stations along a route longer than 30 minutes</li>
       </ul>

       <div class="position_title"><%= link_to "http://working--title.herokuapp.com" do %>WorkingTitle<% end %></div>
       <div class="position_subtitle">4-day Project, September 2014</div>
       <ul>
          <li>Writing collaboration engine built on a responsive Rails application with complex database associations</li>
       </ul>

      <div class="title"><h3>Work</h3></div>
       <div class="position_title">Data Strategist, Chicago Public Schools</div>
       <div class="position_subtitle">Chicago, November 2012 – June 2014</div>
       <ul>
          <li>Analyzed student data from various sources using Excel that informed the work of school-based teams</li>
          <li>Communicated data through visually impactful graphics and clearly articulated presentation
          <li>Trained staff on how to understand, utilize and manage data using CPS’s web-based technologies</li>
       </ul>

       <div class="position_title">Forestry Volunteer, U.S. Peace Corps</div>
       <div class="position_subtitle">Ecuador, February 2010 – March 2012</div>
       <ul>
          <li>Fostered data-driven decision-making in local natural resources management through research studies in agriculture and forestry</li>
          <li>Trained forestry professionals during a week-long course in Geographical Information Systems (GIS) software by developing a Spanish-language informational guide which included practice exercises</li>
          <li>Served as a cultural ambassador and promoted cross-cultural understanding</li>
       </ul>

      <div class="title"><h3>Education</h3></div>
       <div class="position_title">Masters of Science in Forestry</div>
       <div class="position_subtitle">Michigan Technological University, Houghton, MI</div>
       <div class="position_subtitle"><em>August 2008 - August 2012</em></div>
       <br>
      
      <div class="position_title">Bachelor of Arts in International Studies</div>
       <div class="position_subtitle">Boston College, Chestnut Hill, MA</div>
       <div class="position_subtitle"><em>August 2004 – May 2008</em></div>



    </div>
  </div>
</div>