#accordion h3 {
  border: 1px solid;
}

#accordion .fa {
  margin: 10px;
}

#accordion {
  padding: 0px 20px;
  overflow: auto;
}

// #accordion div {
// }

#accordion-resizer {
  width: 100%;
  height: 350px;
}

#accordion img {
  width: 100%
}

ul#accordion-slider{
 margin: 0;
 padding: 0;
 list-style: none;
 position: relative;
}
ul#accordion-slider li{
 display: block;
 overflow: hidden;
 padding: 0;
 float: left;
 width: 230px;
 height: 300px;
}

