body {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  margin-left: -1%;
  width: 100%;
  height: 3.5rem;
  background-color: #479191;
  color: #fff;
  opacity: .9;
  position: fixed;
  z-index: 10;
  padding-left: 2rem;
  padding-top: 1rem;
}

.brand {
  float: left;
}

.brand .name, .brand .name a {
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Volkhorn', serif;
}

.brand ul {
  display: inline-block;
  text-align: right;
}

.brand li, .brand li a {
  list-style-type: none;
  display: inline;
  letter-spacing: 10px;
  color: #fff;
}

.brand li a:hover {
  color: #FF6347;
}

nav {
  float: right;
  margin-right: 3rem;
}

nav ul {
  display: inline-block;
  text-align: right;
}

nav li, nav li a {
  list-style-type: none;
  display: inline;
  color: #479191;
  background-color: #fff;
  padding: .5rem;
  border-radius: 5px;
}

nav li a:hover {
  color: #FF6347;
}

