body {
  background-color: tomato;
}

.home {
  max-width: 950px;
  min-height: 100px;
  height: 100%;
  margin: 0 auto;
}

.icon {
  margin: 0 auto;
  width: 300px;
  padding-top: 5%;
  float: left;
  @media screen and (max-width: 950px) {
    padding-top: 0%;
    width: 150px;
  }
}

.icon img {
  width: 450px;
  margin-left: -50px;
  @media screen and (max-width: 950px) {
    width: 300px;
  }
}

.bio {
  float: left;
  padding: 7% 5% 5% 0%;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Lato', serif;
  font-size: 17px;
  opacity: 0.8;
  @media screen and (max-width: 950px) {
    font-size: 14px;
    padding: 2% 0% 5% 3%;
    width: 500px;
  }
}

.bio a {
  text-decoration: none;
  color: white;
}

.bio a:hover {
  opacity: 0.6;
}

.welcome {
  display: none;
  font-family: 'Volkhorn', serif;
  top: 40%;
  width: 100%;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  color: #fff;
  font-size: 5rem;
  opacity: 0.6;
  line-height: 7rem;
}

.container {
  width: 100%;
  top: .5rem;
  bottom: 1rem;
  margin: 0 auto;
  opacity: 0.95;
  position: fixed;
  background-color: #fff;
  margin-top: 5rem;
  text-align: center;
  color: #479191;
  font-family: 'Volkhorn', serif;
}

.title {
  font-size: 20px;
  color: tomato;
  font-family: 'Lato', sans-serif;
}


.skills {
  margin: 1%;
  float: left;
  width: 19%;
  border-right: 2px solid #479191;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  padding: 0% 3%;
  height: 95%;
}

.skills ul {
  list-style:none;
  padding-left:0;
}

.skills ul li {
  padding: 2px;
}

.back_end_skills {
  display: none;
}
.front_end_skills {
  display: none;
}
.misc_skills {
  display: none;
}

.experiences {
  margin: 1%;
  float: right;
  width: 67%;
  overflow: auto;
  padding-right: 3%;
  height: 95%;
}

.position_title, .position_title a {
  font-weight: bold;
  text-decoration: none;
  color: #479191;
}
.position_title a:hover {
  color: #FF6347;
}

.position_subtitle {
  font-size: 15px;
}

.experiences ul {
  text-align: left;
  font-size: 14px;
}

.description {
  text-align: left;
  padding: 0px 50px;
}

@media screen and (max-width: 700px) {
  .home {
    max-width: 700px;
  }

  .bio {
    float: none;
    font-size: 12px;
    width: 400px;
    padding: 0px;
  }

  .icon {
    padding-top: 40px;
    width: 100px;
    float: none;
  }
  .icon img {
    width: 200px;
  }
  .container {
    margin-top: 7.5rem;
    left: 1rem;
    right: 1rem;
    overflow: auto;
  }
  .skills {
    border: none;
    margin: 1%;
    float: none;
    width: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
  }
  .experiences {
    float: none;
    width: 100%;
    overflow: hidden;
    max-height: 1500px !important;
  }
  .full_screen_skills {
    display: none;;
  }
  .back_end_skills {
    display: inline;
    float: left;
    width: 33%;
  }
  .front_end_skills {
    display: inline;
    float: left;
    width: 33%;
  }
  .misc_skills {
    display: inline;
    float: left;
    width: 33%
  }
}